body
{
    background-color: goldenrod;
}

h1
{
    display: flex;
    justify-self: center;
}

.divInputs
{
    display: flex;
    justify-content: space-around;
}

.informacoes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    background-color: black;
    width: 350px;
}

input
{
    width: 300px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
}

.criar
{
    display: block;
    margin: 0 auto;

    background-color: black;
    border-color: goldenrod;
    color: goldenrod;
    border-radius: 20px;
    border-width: 3px;
    width: 300px;
    height: 40px;
}

.entrar
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.entrar button
{
    background-color: black;
    border-color: goldenrod;
    color: goldenrod;
    border-radius: 20px;
    border-width: 3px;
    width: 150px;
    height: 40px;
}