body
{
    background-color: goldenrod;
}

div
{
    display: flex;
    justify-items: center;
}

hr
{
    background-color: black; 
    height: 3px;
}

.produtos
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}