body
{
    background-color: goldenrod;
}

h1
{
    display: flex;
    justify-content: center;
}

.divInputs
{
    display: flex;
    justify-content: space-around;
}

.informacoes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

input
{
    width: 300px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

.enviar
{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    text-align: center;
}

.criar
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.criar button
{
    width: 150px;
    height: 25px;
}