.Tenis
{
    display: flex;
    justify-content: space-around;
}

.Camisetas
{
    display: flex;
    justify-content: space-around;
}

.Perfumes
{
    display: flex;
    justify-content: space-around;
}

.Calças
{
    display: flex;
    justify-content: space-around;
}

.Bijuterias
{
    display: flex;
    justify-content: space-around;
}

.Maquiagens
{
    display: flex;
    justify-content: space-around;
}

.Oculos
{
    display: flex;
    justify-content: space-around;
}

.barra1
{
    background-color: rgb(30, 143, 255);
}

.itemBarra
{
    display: flex;
    justify-content: space-around;
}