body
{
  background-color: goldenrod;
  margin: 0;
  padding-top: 90px;
}

/*nav bar*/
.faixa
{
  position: fixed;
  background-color: /*goldenrod;*/ /*darkred;*/ lightgray;
  width: 100%;
  top: 0%; /*para pegar no topo da tela*/
  left: 0%; /*para pegar nos lados da tela*/
  z-index: 1000;
}

.fotoPerfil
{
  border-radius: 50%;
}

.itemBarra
{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.Produtos
{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

.Produtos:hover
{
  background-color: white;
}

/*Efeito de deslizar para o produto*/
html {scroll-behavior: smooth;}
/*======================================================*/

/*saudacao e barra de pesquisa*/
.categorias
{
  display: flex;
  justify-content: center;
}

.pesquisa
{
  background-color: black;
}

.saudacao
{
  display: flex;
  justify-content: center;
  color: goldenrod;
}

.busca, .buscar
{
  display: flex;
  justify-self: center;
}
/*====================================================*/

.Acessórios, .autoCuidado, .Eletrônicos, .Moveis, .Roupas
{
  display: flex;
  justify-content: space-around;
}


/*Recomendações com base nas pesquisas*/
.tituloRelacao
{
  display: flex;
  justify-content: center;
}

.recomendações
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /*para resposividade*/
  padding: 20px;
  gap: 20px;
  background-color: black;
  margin: 0 100px; /*Para espaço só nas laterais (não em cima/baixo)*/
}

.recomendacao1, .recomendacao2, .recomendacao3, .recomendacao4
{
  background-color: white;
  border: 2px solid grey;
  border-radius: 8%;
  width: 200px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.imgRecomendacao
{
  width: 70%;
  border-radius: 8px;
  object-fit: cover; /*Faz com que a imagem não se deforme ao encaixar-se no meu espaço determinado (minha div) e caso precise, corta um pedaço dela*/
}

.imgRecomendacao h3
{
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.recomendações p
{
  font-size: 17px;
  color: black;
  text-align: justify;
  word-wrap: break-word;
  margin: 0;
}
/*==============================================*/
.imgProduto
{
  border-radius: 70px;
}